HOST=chronoqueue_container
REDIS_HOST=cachesvc_container
SERVER_CERT_PATH=/secrets/server.crt
SERVER_KEY_PATH=/secrets/server.key
CA_CERT_PATH=/secrets/ca.crt
CHRONOQUEUE_TLS_ENABLED=false
ENABLE_ENCRYPTION=true
ENCRYPTION_KEY_SOURCE_TYPE=LOCAL
ENCRYPTION_KEY=0123456789abcdef0123456789abcdef